:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --blue-font-color: #2196f3;
  --white-joint-color: #ffffff;
  --footer-color: #ffffff60;
  --footer-icon: #ffffff10;
  --black-font-color: #000;
  --buttons-portfolio-color: #ffffff25;
  --background-block-color: #2f303a;
  --background-team-color: #f5f4fa;
  --border-header-color: #ececec;
  --border-card-color: #eeeeee;
  --area-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
body,
.mail,
.phone {
  color: var(--primary-color);
}
.agency,
.portfolio,
.contact {
  color: var(--secondary-color);
}
.agency:hover,
.agency:focus,
.portfolio:hover,
.portfolio:focus,
.contact:hover,
.contact:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus,
.contact-icon {
  color: var(--blue-font-color);
}
.mail,
.phone,
.agency,
.portfolio,
.contact,
.address-mail,
.address-phone,
.link-logo {
  text-decoration: none;
  letter-spacing: 0.03em;
}
.address-mail,
.address-phone {
  color: var(--footer-color);
}
.address-mail {
  margin-bottom: 9px;
}
.header-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  color: var(--white-joint-color);
}
.header-secondary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  list-style: none;
  color: var(--secondary-color);
}
.web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--blue-font-color);
}
.studio-header {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--black-font-color);
}
.studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--white-joint-color);
}
.header-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.17;
  list-style: none;
}
.contact-details {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.17;
  list-style: none;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.job-name {
  font-size: 14px;
  line-height: 1.17;
}
.project-name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-color);
}
.desinger-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-color);
}
.main-block {
  display: flex;
  text-align: center;
  padding: 200px 0;
  background-color: var(--background-block-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 50%),
    url(../images/designers-in-the-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-block-color);
}
.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  list-style: none;
}
.address-street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--white-joint-color);
}
.order-button {
  background-color: var(--blue-font-color);
  color: var(--white-joint-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  padding: 10px 41.5px;
}
.switch {
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--buttons-portfolio-color);
  cursor: pointer;
}
.switch:hover {
  background-color: var(--blue-font-color);
  color: var(--white-joint-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.switch {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
}
.buttons-list {
  list-style: none;
  display: flex;
  gap: 8px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.introduction {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  letter-spacing: 0.03em;
  gap: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.main__container {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.contact-details {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu-nav .item:not(:last-child) {
  margin-right: 46px;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.page-header {
  height: 80px;
  border-bottom: 1px solid;
  border-color: var(--border-header-color);
}

.menu-nav {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 93px;
}

.contacts {
  display: flex;
}

section {
  padding: 94px 0;
}

.work-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-review {
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  gap: 30px;
  
}

.team-list {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-joint-color);
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.team {
  background-color: var(--background-team-color);
}
.team-name {
  padding: 30px 0;
}

.desinger-name {
  margin-bottom: 10px;
}

.competences {
  padding-bottom: 0;
}

.header {
  margin-bottom: 10px;
}

.team-image {
  display: block;
}

.main-buttons {
  display: flex;
  padding-bottom: 0;
}

.cards-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-range {
  background-color: var(--white-joint-color);
}

.card-range:hover,
.card-range:focus {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}  

.card-image {
  display: block;
}

.cards {
  padding-top: 50px;
}

.card-item {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding: 20px 24px 20px 24px;
  border-color: var(--border-card-color);
}

.contact-icon {
  display: flex;
  margin-right: 10px;
  height: 100%;
}
.contact-header__mail:hover,
.contact-header__mail:focus,
.contact-header__phone:hover,
.contact-header__phone:focus {
  --color3: var(--blue-font-color);
  fill: var(--color3);
 
  cursor: pointer;
}

.contact-header__mail:hover > .mail,
.contact-header__mail:focus > .mail,
.contact-header__phone:hover > .phone,
.contact-header__phone:focus > .phone {
 
  color: var(--blue-font-color);
}

.contact-header__mail {
  display: flex;
  margin-right: 30px;
  height: 100%;
}

.contact-header__phone {
  display: flex;
  margin-right: 0;
  height: 100%;
}

.contact-details .item:not(:last-child) {
  margin-right: 30px;
}

.team-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-icon:not(:last-child) {
  margin-right: 10px;
}

.team-icon__link:hover {
  --color4: var(--blue-font-color);
  fill: var(--color4);
  --color5: var(--white-joint-color);
  fill: var(--color5);
}

/* footer */

.footer-icons {
  display: flex;
}

.footer-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-icon__link:hover,
.footer-icon__link:focus {
  --color4: var(--blue-font-color);
  fill: var(--color4);
  --color5: var(--white-joint-color);
  fill: var(--color5);
}
.footer-media {
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}

.footer-contact {
  display: flex;
}

.footer-media__title {
  color: var(--white-joint-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-info {
  display: inline-block;
}

.footer-icon__link {
  --color4: var(--footer-icon);
  fill: var(--color4);
  --color5: var(--white-joint-color);
  fill: var(--color5);
}

.introduction-area {
  width: 270px;
  height: 120px;
  background-color: var(--area-color);
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 0;
  position: relative;
}

.introduction-icon {
  display: block;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.customers-area {
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  position: relative;
}

.customers-icon {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.customers-area:hover,
.customers-area:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  --color5: var(--blue-font-color);
  fill: var(--color5);
}
